@inject IJSRuntime _jsRuntime

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button @onclick="Show" class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">Charity cafeteria v1.0</a>
        <div class="collapse navbar-collapse @_show">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Settings">Settings</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a @onclick="RemoveToken" href="" class="nav-link">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public Action RefreshParent { get; set; }
    private string _show = "";

    private void Show()
    {
        _show = _show == "show" ? "" : "show";
        StateHasChanged();
    }

    private async void RemoveToken()
    {
        await _jsRuntime.InvokeVoidAsync("localStorage.setItem", "salesmanId", "");
        RefreshParent();
    }
}
